[DEFAULT]
ConnectionType=initiator
ReconnectInterval=2
FileStorePath=store
FileLogPath=log
StartTime=00:00:00
EndTime=00:00:00
UseDataDictionary=Y
DataDictionary=../../../../spec/fix/FIX44Bloomberg.xml
HttpAcceptPort=9911
SocketConnectHost=160.43.166.170
SocketConnectPort=23999

LogoutTimeout=5
ResetOnLogon=Y

[SESSION]
# inherit ConnectionType, ReconnectInterval and SenderCompID from default
BeginString=FIX.4.4
SenderCompID=USS_CMF_BETA
TargetCompID=BLP_CMF_BETA
HeartBtInt=30 
